
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

#brandname {
    font-family: 'Nosifer', cursive;
    font-size: 30px;
}

.nav-link {
    font-weight: 600;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding-top: 43px;
}

h3{
    font-size: 20px;
}

#aboutus {
    display: flex;
    width: 85%;
    margin: auto;
}
#aboutus p {
    font-size: 14px;
}

#aboutusimg {
    margin-top: 43px;
    position: absolute;
    z-index: -1;
    width: 85%;
}

.bladies {
    max-width: 100%;
    height: auto;
    opacity: 0.2;
}

.service {
    background-color: #FFDC9A;
}

.services-container, .people {
    padding-bottom: 43px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.servicecard {
    margin-bottom: 20px;
    background-color: white;
    width: 340px;
   height: 340px;
    text-align: center;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25); ;
}

.servicecard h3 {
    padding-top: 20px;
}

.servicecard hr {
    width: 200px;
    border: 1px solid #FFDC9A;
}

.servicecard p {
    text-align: justify;
    padding: 0px 20px 20px 20px;
}

footer {
    background-color: #333333;
    padding: 30px 0px;
}

h1 {
    font-family: 'Nosifer', cursive;
    color: white;
    margin-left: 10px;
    font-size: 30px;
}

.end {
    margin-bottom: 20px;
}

.fa {
    color: white;
    margin: 8px;
}
span {
    color: white;
    text-align: center;
    display: block;
    font-size: 12px;
}
/*gallery
.your-css {
    width: 75%;
    margin: auto;
}*/

#team{
    border: 8px solid #FFDC9A;
    margin-top: 43px;
}

.ad {
    background-image: url('../rayviarimg/flaunt2.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 30vh;
    color: white;
    padding: 40px;
}

.testimonials {
    text-align: center;
    width: 250px;
    height: 300px;
    border: 8px solid #FFDC9A;
    padding: 20px;
    margin: 20px 50px;
}
/* you can also set slick slider width with
.slick-slide {
    width: 500px;
}
*/

.testimonials img {
    margin: 20px auto;
}

.gallery a {
    margin: 0.5vw;
}

.card-deck {
    margin: 36px 30px;
    text-align: center;
}

.contact-container {
    background-color: #DDAF64;
}

.form-container {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(255, 220, 154, 0.69);
    margin: 18px;
}

.form-container__textinput, .form-container__emailinput {
    background-color: transparent;
    width: 60%;
    border-style: none;
    text-align: center;
    border-bottom: 2px solid black;
    font-size: 20px;
    color: black;
    margin: 20px auto;
}

textarea {
    background-color: transparent;
    width: 100%;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    color: black;
    margin: 20px auto;
}

.form-container__img {
    padding-right: 0px;
    position: absolute;
    opacity: 0.2;
  
}

.contact-btn {
    width: 100px;
    padding: 10px;
    background-color: black;
    color: white;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    border-style: none;
}

.mailing-list {
    background-image: url("/rayviarimg/mailinglistbgimg.png");
    background-position: center center;
    object-fit: cover;
    color: white;
    text-align: center;
    padding: 40px;
}

.mailing-list-wrapper {
    display: flex;
    justify-content: center;
}

.mailing-list__emailinput {
    width: 41vw;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color: white;
    padding: 10px 16px;
}

.mailing-list__btn {
    width: 30vw;
    font-size: 18px;
    font-weight: 500;
    background-color: #FFDC9A;
    border-style: none;
    margin-left: 5px;
}

.mailing-list h3 {
    font-weight: 600;
    font-size: 6vw;
}





@media only screen and (min-width:768px) {
    #brandname {
        font-size: 40px;
    }
    #aboutusimg {
        position: relative;
    }
    #aboutus p {
        font-size: 20px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    .bladies {
        opacity: 1;
    }
    h1 {
        font-size: 40px;
    }
    span, fa {
        font-size: 1em;
    }
    .testimonials {
        width: 500px;
        
    }
    
    .gallery {
        margin: auto 100px;
    }

    .card-deck {
        margin: 4.2vw 100px;
        
    }

    .contact-container {
        padding-left: 100px;
    }
    

    .form-container {
        text-align: center;
        padding-bottom: 0px;
        margin: 0px;
        background-color: transparent;
    }

    .form-container__img {
        position: relative;
      opacity: 1;
    }

    .mailing-list {
        background-image: url("/rayviarimg/mailinglistbgimg.png");
        background-position: center center;
        object-fit: cover;
        color: white;
        text-align: center;
        padding: 40px;
    }

    .mailing-list-wrapper {
        display: flex;
        justify-content: center;
    }

    .mailing-list__emailinput {
        width: 400px;
        background-color: transparent;
        border: 2px solid #FFFFFF;
        color: white;
    }

    .mailing-list__btn {
        width: 200px;
        font-size: 18px;
        font-weight: 500;
        background-color: #FFDC9A;
        border-style: none;
        margin-left: 5px;
    }

    .mailing-list h3 {
        font-weight: 600;
        font-size: 48px;
    }

    textarea {
        height: 237px;
    }


}
@media only screen and (min-width:1000px) {
    .nav-item {
        padding: 1vw;
    }
}

/*




    @media screen and (max-width:550px) {
        #navbar ul {
            display: flex;
            justify-content: center;
            padding: 20px 58px ;
            }
            #navbar ul a {
            font-size: 16px;
            padding: 5px;
            }
            #navbar ul li {
                padding: 0px 14px;
            }
            .formcontainer {
                width: 70vw;
            }
            .contactintro {
                width: 80%;
                margin: auto;
            }
            .checkbtn {
                width: 30px;
                height: 30px;
                fill: #D7CEC7;
                position: relative;        
                cursor: pointer;
                margin-top: 7px;
                margin-right: 7px;
                display: initial;
                right: 10px;
                position: fixed;
                z-index: 3;
            }
            #check:checked ~ ul {                 
                display: none;    
                transition: all .5s ease;
            }
            #navbar ul {    
        
                align-items: center;
                flex-direction: column;
                
            }
            #navbar li  {
                margin: 5px;
            }
        }
        */